{% extends "template.html" %}
{% block conteudo %}
      <form action="/atualizar_modalidades_refeicoes" method="post">
        <fieldset>
          <input type="hidden" name="ID_Modalidade_Refeicao" value="{{modalidade._ID_Modalidade_Refeicao}}">
          <div class="form-group">
            <label for="Modalidade">Nome da Modalidade de Refeição</label>
            <input type="text" id="Modalidade" name="Modalidade" class="form-control" value="{{modalidade._Modalidade}}">
          </div>
          <button type="submit" class="btn btn-outline-success btn-salvar">Salvar</button>
          <a class="btn btn-outline-danger" href="{{url_for('lista_modalidades_refeicoes')}}">Voltar</a>
        </fieldset>
      </form>
{% endblock %}