{% extends "template.html" %}
{% block conteudo %}
    <div class="container">
        <h1 class="page-header">Lista de Eventos</h1>
        <a class="btn btn-outline-success" href="{{url_for('novo_evento')}}">Novo Evento</a>
            <table class="table table-striped table-responsive table-bordered">
                <thead class="table-success">
                    <tr>
                        <th scope="col">ID do Evento</th>
                        <th scope="col">Nome</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td>{{evento._ID_Eventos}}</td>
                        <td>{{evento._Nome_Evento}}</td>
                        <td><a class="btn btn-outline-dark" href="{{url_for('editar_evento', ID_Eventos=evento._ID_Eventos)}}">Editar</a></td>
                        <td><a class="btn btn-outline-danger" href="{{url_for('deletar_evento', ID_Eventos=evento._ID_Eventos)}}">Deletar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}