{% extends "template.html" %}
{% block conteudo %}
      <form action="/criar_usuario" method="post">
        <fieldset>
          <div class="form-group">
            <label for="id">Usuário</label>
            <input type="text" id="id" name="id" class="form-control">
          </div>
          <div class="form-group">
            <label for="tipo_usuario">Tipo de Usuário</label>
            <input type="text" id="tipo_usuario" name="tipo_usuario" class="form-control">
          </div>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="email_usuario">Email</label>
            <input type="text" id="email_usuario" name="email_usuario" class="form-control">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control">
          </div>
          <button type="submit" class="btn btn-outline-success btn-salvar">Salvar</button>
          <a class="btn btn-outline-danger" href="{{url_for('lista_usuarios')}}">Voltar</a>
        </fieldset>
      </form>
{% endblock %}