{% extends "template.html" %}
{% block conteudo %}
<form action="/criar" method="post">
   <fieldset>
      <div class="form-group">
         <label for="Descricao">Descrição</label>
         <input type="text" id="Descricao" name="Descricao" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="kcal">kcal</label>
         <input type="number" id="kcal" name="kcal" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="kJ">kJ</label>
         <input type="number" id="kJ" name="kJ" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Proteina">Proteina</label>
         <input type="number" id="Proteina" name="Proteina" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Lipideos">Lipideos</label>
         <input type="number" id="Lipideos" name="Lipideos" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Carboidratos">Carboidratos</label>
         <input type="number" id="Carboidratos" name="Carboidratos" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Calcio">Cálcio</label>
         <input type="number" id="Calcio" name="Calcio" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Ferro">Ferro</label>
         <input type="number" id="Ferro" name="Ferro" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Retinol">Retinol</label>
         <input type="number" id="Retinol" name="Retinol" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Vitamina_C">Vitamina C</label>
         <input type="number" id="Vitamina_C" name="Vitamina_C" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Sodio">Sódio</label>
         <input type="number" id="Sodio" name="Sodio" class="form-control" required>
      </div>
      <div class="form-group">
         <label for="Categoria">Categoria</label>
         <select class="form-select" id="Categoria" name="Categoria">
            {% for categoria in categorias %}
            <option value="{{categoria._ID_Categoria}}">{{categoria._Nome_Categoria}}</option>
            {% endfor %}
         </select>
      </div>
      <div class="form-group">
         <label for="Cor">Cor</label>
         <select id="Cor" name="Cor" class="form-control">
            <option value="Red">Vermelho</option>
            <option value="Yellow">Amarelo</option>
            <option value="Cyan">Azul</option>
         </select>
      </div>
      <button type="submit" class="btn btn-outline-success btn-salvar">Salvar</button>
      <a class="btn btn-outline-danger" href="{{url_for('lista_alimentos')}}">Voltar</a>
   </fieldset>
</form>
{% endblock %}